/* custom CSS styles */
body{
    background-color: rgba(84, 129, 150, 0.16);
}
.a {
    color: #a61e23;
    line-height: inherit;
}
.a:hover, a:focus {
    color: #a61e23;
}
@media only screen and (min-width: 40.0625em)
.clearing-assembled .clearing-container .visible-img {
    background: #aeb5bb;
    opacity: 5%;
    height: 85%;
    overflow: hidden;
}

.panel {
    background-color: #fff;


}
.panel.radius {
    border-radius: 9px;
}

h1 {
	color: #a61e23;
	font-family: 'Alegreya Sans', sans-serif;
    padding:20px;
}
h3{
        color: #345E8D;
    font-family: 'Alegreya Sans', sans-serif;
}

}
.th.radius {
    border-radius: 1px;
}
.th {

     box-shadow: 0 0 0 1px rgba(0,0,0,0.2); 
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: all 200ms ease-out;
}
 
  
.panel p{
        padding-top: 10px;
       color: #345E8D;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;

}
p{
      padding-top: 10px;
       color: #345E8D;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
        font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-size: medium;
}